# fly.toml app configuration file generated for kanjipop on 2026-01-31T02:49:13Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'kanjipop'
primary_region = 'nrt'

[build]
  dockerfile = "Dockerfile"

[env]
  NITRO_HOST = "0.0.0.0"
  NITRO_PORT = "3000"
  COOKIE_SECURE = "true"

[mounts]
  source = "kanjipop_data"
  destination = "/app/data"

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = "off"
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
